



<div class="container">
  <div class="section">,
    <br/><br/>
    <h2 class="text-centre">Metro Fibre Food Recipe Optimizer</h2>
    <div class="card" >
      <div class="card-body">
        <form [formGroup]="insertForm" (ngSubmit)="onSave()">

          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pasta</h5>
                <input type="text" formControlName="pasta"  />
              </div>
              <p class="mb-1">Below are the ingredients of Pasta</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item disabled">2 X Dough</li>
                <li class="list-group-item disabled">1 X Tomato</li>
                <li class="list-group-item disabled">2 X Cheese</li>
                <li class="list-group-item disabled">1 X Meat</li>
              </ul>
            </a>
            <a href="#" class="list-group-item list-group-item-action" >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pie</h5>
                <input type="text" formControlName="pie"  />
              </div>
              <p class="mb-1">Below are the ingredients of Pie</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item disabled">2 X Dough</li>
                <li class="list-group-item disabled">2 X Meat</li>
              </ul>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pizza</h5>
                <input type="text" formControlName="pizza" />
              </div>
              <p class="mb-1">Below are the ingredients of Pizza.</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item disabled">3 X Dough</li>
                <li class="list-group-item disabled">3 X Tomato</li>
                <li class="list-group-item disabled">3 X Cheese</li>
                <li class="list-group-item disabled">1 X Olives</li>
              </ul>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Burger</h5>
                <input type="text" formControlName="burger"/>
              </div>
              <p class="mb-1">Below are the ingredients of Burger</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item disabled">1 X Dough</li>
                <li class="list-group-item disabled">1 X Tomato</li>
                <li class="list-group-item disabled">1 X Cheese</li>
                <li class="list-group-item disabled">1 X Lettuce</li>
                <li class="list-group-item disabled">1 X Meat</li>
              </ul>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Salad</h5>
                <input type="text" formControlName="salad" />
              </div>
              <p class="mb-1">Below are the ingredients of Salad</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item disabled">1 X Dough</li>
                <li class="list-group-item disabled">1 X Cucumber</li>
              </ul>
            </a>
          </div>

        </form>
        
      </div>
     
    </div>
  </div>
</div>

<ngx-spinner size="default" type="ball-spin-clockwise">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-success" role="status">
      Please Wait...
    </div>
  </div>
</ngx-spinner>

